/* UNIVERSAL */

* {
  box-sizing: border-box;
}

/* HEADER */

.header {
  color: #00f7ff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  text-align: center;
}

#title {
  margin: 0;
}

.sign-in-form {
  background-color: grey;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
}

/* BUTTONS */

.btn {
  opacity: 0.8;
  padding: 3px 10px;
  border-radius: 8px;
  border: 2px solid white;
  width: 50%;
  font-weight: 600;
  margin: 1px;
}

.btn:hover {
  opacity: 100%;
}

.name-submit {
  background-color: #00f7ff;
}

.reset {
  background-color: red;
  color: white;
}

.home {
  color: white;
}

.play {
  text-decoration: none;
  background-color: #00f7ff;
}

.high-scores {
  appearance:none;
  -webkit-appearance:none;
  background-color: black;
  color: white;
  border-color: #00f7ff;
}

.start-game-btn {
  opacity: 0.8;
  padding: 3px 10px;
  background-color: #00f7ff;
  color: black;
  border-radius: 8px;
  border: 3px solid white;
  width: 50%;
}

.start-game-btn:hover {
  opacity: 1.0;
  
}

.escape-btn {
  opacity: 0.8;
  padding: 3px 10px;
  border: 3px solid #00f7ff;
  background-color: black;
  color: white;
  border-radius: 8px;
  margin-top: 10px;
  width: 50%;
}

.escape-btn:hover {
  opacity: 1.0;
}

.logout {
  width: 75px;
  border: 0;
  border-radius: 3px;
  background-color: white;
  font-weight: 600;
}


/* SIGN IN PAGE */ 

#enter-name {
  margin: 0 0 5px 0;
}

.name-input {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  border: 0;
  border-radius: 3px;
}

.name-input:focus {
  outline: none;
}

.home-page {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
}


.question {
  width: 75%;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.game-on {
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.stage {
  width: 85px;
  height: 85px;
  border: 1px solid white;
  margin: 0 auto;
  text-align: center;
}

.answer-form {
  text-align: center;
  margin-top: 15px;
}

.answer-input {
  padding: 5px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 3px;
}

#symbol-answer-input {
  width: 50px;
}

#number-answer-input {
  width: 50px;
}

div {
  color: white;
}


.nav-links {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.game {
  margin-bottom: 40px;
}

.game-over {
  text-align: center;
}

.game-over-headline {
  color: red;
}

#high-scores {
  margin: 0 auto;
  width: 70%;
}

.high-scores {
  list-style-type: none;
}

table {
  table-layout: auto;
  width: 100%;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
}

th {
  text-align: left;
}

#columns {
  background-color: #9ef7fa;
  color: black;
}

#rank {
  width: 8%;
}