/* UNIVERSAL */

* {
  box-sizing: border-box;
}

/* HEADER */

.header {
  color: #00f7ff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  text-align: center;
}

.sign-in-form {
  background-color: grey;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
}

/* BUTTONS */

.btn {
  width: 100%;
  border: 0;
  border-radius: 3px;
  font-weight: 600;
}

.btn:hover {
  opacity: 90%;
}

.name-submit {
  background-color: #00f7ff;
}

.reset {
  background-color: red;
  color: white;
}

.home {
  color: white;
}

.play {
  text-decoration: none;
  background-color: lightgreen;
}

.high-scores {
  appearance:none;
  -webkit-appearance:none;
  background-color: lightpink;
}

.start-game-btn {
  opacity: 0.8;
  padding: 3px 10px;
  background-color: #00f7ff;
  color: black;
  border-radius: 8px;
  border: 3px solid white;
  width: 50%;
}

.start-game-btn:hover {
  opacity: 1.0;
  
}

.escape-btn {
  opacity: 0.8;
  padding: 3px 10px;
  border: 3px solid #00f7ff;
  background-color: black;
  color: white;
  border-radius: 8px;
  margin-top: 10px;
  width: 50%;
}

.escape-btn:hover {
  opacity: 1.0;
}

/* SIGN IN PAGE */ 

#enter-name {
  margin: 0 0 5px 0;
}

.name-input {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  border: 0;
  border-radius: 3px;
}

.name-input:focus {
  outline: none;
}

.home-page {
  background-color: #696969;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
}

.logout {
  width: 100%;
  border: 0;
  border-radius: 3px;
  background-color: #00f7ff;
  font-weight: 600;
}
.question {
  width: 75%;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.stage {
  width: 85px;
  height: 85px;
  border: 1px solid white;
  margin: 0 auto;
  
}

.answer {
  margin-top: 20px;
}


div {
  color: white;
}


.nav-links {
  list-style-type: none;
  padding: 0;
}

.game {
  margin: 12px 0;
}
