* {
  box-sizing: border-box;
}

.header {
  color: #00f7ff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  text-align: center;
}

.sign-in-form {
  background-color: grey;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
}

.name-input {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  border: 0;
  border-radius: 3px;
}

.name-submit {
  width: 100%;
  border: 0;
  border-radius: 3px;
  background-color: #00f7ff;
}

.name-submit:hover {
  opacity: 90%;
}
#enter-name {
  margin: 0 0 5px 0;
}
.question, .answer {
  color: white;
  text-align: center;
}

.stage {
  width: 85px;
  height: 85px;
  border: 1px solid white;
  margin: 0 auto;
  
}

.answer {
  margin-top: 20px;
}

.reset {
  background-color: red;
  color: white;
}

.home {
  color: white;
}

div {
  color: white;
}

.start-game-btn {
  opacity: 0.8;
  padding: 3px 10px;
  background-color: yellowgreen;
  color: white;
  border-radius: 2px;
  border: none;
}

.start-game-btn:hover {
  opacity: 1.0;
}

.escape-btn {
  opacity: 0.8;
  padding: 3px 10px;
  border: none;
  background-color: tomato;
  color: white;
  border-radius: 2px;
  margin-top: 10px;
}

.escape-btn:hover {
  opacity: 1.0;
}