.header {
  color: rgb(0, 247, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  text-align: center;
}

.question, .answer {
  color: white;
  text-align: center;
}

.stage {
  width: 85px;
  height: 85px;
  border: 1px solid white;
  margin: 0 auto;
  
}

.answer {
  margin-top: 20px;
}